$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower



/* Space out content a bit */
body {
//  padding-top: 20px;
font-family: 'Source Sans Pro', sans-serif;

}
a {
  text-decoration: underline;
}
h1 {
  font-weight: 700;
  letter-spacing: -2px;
}
h2 {
  font-weight: 700;
  letter-spacing: -1px;
}
.helpus {
  background-color: $orange-0;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

  background-color: #e5332a;
  color: #fff;

}
.jumbotron a {
  color: #fff;

}
.leder {
  font-size: 14px;
}
.explainer, .explainer2, .explainer3 {
  padding-top: 100px;
  font-weight: 200;
font-size: 22px;
line-height: 34px;
padding-bottom: 100px;

}
.foot {
  padding-top: 50px;
  font-weight: 200;

padding-bottom: 50px;

}
.explainer2 {
  background-color: $blue-0;
  color: #fff;
}
.explainer a {
  color: $blue-0;
}
.explainer2 a, .explainer3 a {
  color: #fff;

}
.explainer3 {
  background-color: $orange-0;
  color: #fff;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .jumbotron .container {
    max-width: 550px;

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
//     height: 650px;
    border-bottom: 0;

  }
  .jumbotron .wrap {
    padding-top: 100px;
    padding-bottom: 100px;

  }
}
